<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>시설 대여 프로그램</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/help.css">
</head>
<body>
<form th action="/help">
    <header>
        <div class="nav-bar">
            <div id="nav-title"><a href="/user">RES</a></div>
            <div class="non-click" id="nav-home"><a href="/home">HOME</a></div>
            <div class="non-click" id="nav-place">
                <a href="/user">PLACE</a>
            </div>
            <div class="non-click" id="nav-community"><a href="/question/list">COMMUNITY</a></div>
            <div class="non-click" id="nav-profile">
                <a href="/update">PROFILE</a>
            </div>
            <div class="non-click" id="nav-help"><a href="/help">HELP</a></div>
        </div>
        <div class="nav-user">
            <img class="nav-user-img" src="img/user.png">
            <h3 class="nav-user-name">User</h3>
        </div>

        <div class="container">
            <div class="hamburger-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="panel">

            </div>
        </div>
    </header>
    <main>
        <div class="help">
            <h1 class="help-title">유용한 기능들</h1>
            <div class="division"></div>
            <h1 class="explain">1.상단 네비게이션바로 페이지 이동가능<br></h1>
            <h1 class="explain">2.PLACE 페이지 && RES배너 : 시설을 예약할수 있습니다.<br></h1>
            <h1 class="explain">3.HOME 페이지 : 메인 화면을 보여줍니다. <br></h1>
            <h1 class="explain">4.COMMUNITY 페이지 : 커뮤니티 게시판을 보여줍니다 <br></h1>
            <h1 class="explain">5.HELP 페이지 : 지금 보고계시는 페이지로 웹전반적인 기능에대해 설명합니다. <br></h1>
            <h1 class="explain">6.좌측상단 프로필 아이콘을누르면 내 정보로 이동합니다. <br></h1>
            <h1 class="explain">7.MyProfile 페이지 : 마이페이지이며 회원정보를 수정할수있습니다.</h1>
        </div>
    </main>
    <footer>
        <div class="foot-info">
            <h1 class="developer">
                <br>
                문의
                <br>
                <br>
                정승민 : 010-0000-0000
                <br>
                <br>
                조다운 : 010-1111-1111
                <br>
                <br>
                진태흠 : 010-2222-2222
                <br>
            </h1>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/help/help.js"></script>
</form>
</body>
</html>
