<!--유저 회원정보 수정 및 탈퇴-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/MyPage.css" type="text/css">
    <title>MyProfile</title>
</head>
<body>
<form th:action="@{/update}" method="post">
    <header>
        <div class="nav-bar">
            <div id="nav-title"><a href="/user">RES</a></div>
            <div class="non-click" id="nav-home"><a href="/home">HOME</a></div>
            <div class="non-click" id="nav-place">
                <a href="/user">PLACE</a>
            </div>
            <div class="non-click" id="nav-community"><a href="/question/list">COMMUNITY</a></div>
            <div class="non-click" id="nav-profile">
                <a href="/update">PROFILE</a>
            </div>
            <div class="non-click" id="nav-help"><a href="/help">HELP</a></div>
        </div>
        <div class="nav-user">
            <img class="nav-user-img" src="img/user.png">
            <h3 class="nav-user-name">User</h3>
        </div>

        <div class="container">
            <div class="hamburger-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="panel">

            </div>
        </div>
    </header>
    <div class="main">
        <h1 class="MyPage-title">Account Information</h1>
        <hr>
        <div class="fix">
            <div class="name">
                <h2>change your name</h2>
                <input type="text" class="in-name" th:value="${updateUser.username}" name="username" />
            </div>
            <div class="id">
                <h2>your id</h2>
                <input type="text" class="in-id" th:value="${updateUser.userid}" name="userid" readonly />
            </div>
            <div class="password">
                <h2>change your password</h2>
                <input type="text" class="in-password" th:value="${updateUser.userpw}" name="password" readonly />
            </div>
            <div class="phone">
                <h2>change your phone-Number</h2>
                <input type="text" class="in-phone" th:value="${updateUser.userphone}" name="phone" />
            </div>
            <div class="email">
                <h2>change your email</h2>
                <input type="text" class="in-email" th:value="${updateUser.useremail}" name="email" />
            </div>
            <div class="profile-picture">
                <h2 class="profile-picture-box">Profile Picture</h2>
                <img class="user-img" src="img/user.png">
            </div>
            <hr class="division">
            <div class="btn-group">
                <button type="submit" class="fix-btn">수정</button>
                <button class="delete-btn"><a href="/delete">회원탈퇴</a></button>
        </div>
            </div>
    </div>
    <div class="nav-categori">
        <img class="categori-img" src="img/menuBtn.png">
    </div>
    <footer>
        <div class="manager-info"></div>
    </footer>
    <script type="text/javascript" src="js/MyPage.js"></script>
</form>
</body>
</html>